@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --gray900: #212121;
  --gray87: rgba(33, 33, 33, 0.87);
  --gray60: rgba(33, 33, 33, 0.60);
  --gray36: rgba(33, 33, 33, 0.36);
  --gray200: #eeeeee;
  --gray200dark: #757575;
  --black12: rgba(0,0,0, 0.12);
  --black15: rgba(0,0,0, 0.15);
  --black24: rgba(0, 0, 0, 0.24);
  --black32: rgba(0, 0, 0, 0.32);
  --white: #ffffff;
  --white24: rgba(255, 255, 255, 0.24);
  --blue400: #42A5F5;
  --blue500: #2196F3;
  --orange900: #E65100;
  --orange200: #FFCC80;
  --green900: #1B5E20;
  --green-200: #A5D6A7;
  --purple900: #4527A0;
  --purple200: #B39DDB;
  --red400: #EF5350;
  --red500: #F44336;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.header-s {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  line-height: 2.1rem;
  letter-spacing: 0.25px;
}

.header-xs {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  line-height: 2.1rem;
  letter-spacing: 0.25px;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 1.25px;
}

.body {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.body-2 {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

body {
  background-color: var(--gray200);
}

/* navbar */

/* search bar */

.navbar-container {
  height: 82px;
  border-bottom: 1px;
  background-color: var(--white);
  box-shadow: 0 4px 20px var(--black15);
}

.box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  gap: 1.25rem
}

input[type="search"] {
  width: 1146px;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: var(--gray200);
  color: var(--green900)
}

input[type="search"]::placeholder {
  color: var(--gray87);
  font-weight: 500;
}

.icon {
  padding-left: 58px;
  background: url('/icons/search-icon.svg') no-repeat 1.6rem center;
  background-size: 20px;
}

input[type="search"]:active, input[type="search"]:focus {
  outline-color: var(--blue400);
}


/* note add button */

.btn-add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 16px;
  border: none;
  background-color: var(--blue400);
  color: var(--white);
  cursor: pointer;
  border-radius: 56px;
  gap: 0.42rem;
}

.btn-add .btn-icon {
  width: 18px;
  height: 18px;
  color: var(--white);
}

.btn-add:hover {
  background-color: var(--blue500);
}

/* Notes */

.container {
  padding: 32px 128px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Card */

.card {
  width: 403px;
  height: 248px;
  background-color: var(--white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 22px 20px;
  box-shadow: 0 4px 20px 0 var(--black15);
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8.5rem;
  height: 48px;
  margin-bottom: 18px;
}

.chip {
  width: 83px;
  height: 48px;
  border-radius: 28px;
  display: inherit;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.chip-purple {
  background-color: var(--purple200);
  color: var(--purple900);
}

.chip-green {
  background-color: var(--green-200);
  color: var(--green900);
}
.chip-orange {
  background-color: var(--orange200);
  color: var(--orange900);
}

.card-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.card-btn {
  background-color: transparent;
  border: none;
  padding: 8px;
  height: 40px;
}

.card-btn:hover {
  box-shadow: 0 0 0 3px var(--black12);
  border-radius: 20px;
  background-color: var(--black12);
}

.card-icon{
  width: 24px;
  height: 24px;
}

.mb-10 {
  margin-bottom: 10px;
}

.card-sub-text {
  color: var(--gray900);
  height: 74.89px;
  margin-bottom: 9.11px;
}

.card-date {
  font-family: 'Arial', sans-serif; 
  color: rgba(33, 33, 33, 0.60);
  align-self: flex-end;
}

/* Tab */

.tab {
  padding-top: 28px;
}

.tab_header {
  display: flex;
  list-style: none;
}

.category li{
  width: 104px;
  height: 32px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid var(--blue400);
  color: var(--blue400);
}

.not-active {
  border-bottom: 2px solid var(--black12);
  color: var(--gray60);
}

.tab_container {
  height: 100vh;
}

.tab_content {
  padding-top: 33px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 24px;
}

.tab-h {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-text {
  display: inherit;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

/* Modal */

.modal {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0,0.4);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 616px;
  height: 470px;
  background-color: var(--white);
  padding: 27px 24px 24px;
  border-radius: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.title-description {
  display: flex;
  flex-direction: row;
  padding-top: 27px;
  justify-content: space-between;
  align-items: center;
}

#title {
  display: block;
  min-width: 272px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--black12);
  background-color: var(--gray200);
  margin-top: 4px;
  padding: 0px;
  padding-left: 12px;
  color: black;
}

#title::placeholder {
  font-weight: 500;
  color: var(--gray60);  
}

#title:active, #title:focus {
  outline: 1px solid var(--blue400);
}

#category {
  display: block;
  width: 272px;
  height: 48px;
  border-radius: 8px;
  margin-top: 4px;
  border: none;
  background-color: var(--gray200);
  padding-left: 12px;
  font-weight: 500;
}

#category option {
  background-color: white;
  color: var(--gray60);
  padding: 12px 0px 12px 16px;
}

#category:active, #category:focus {
  outline: 1px solid var(--blue400);
}
